<header class="header-6 clarity-nav-topbar">
  <div class="branding">
      {{ pageTitle | async }}
  </div>
  <div class="header-nav">
    <a mat-menu-item *ngFor="let item of primaryNavigationItems | async" class="nav-link nav-text" style=" text-transform: capitalize">
      {{ item.name }}
    </a>
  </div>
  <!-- button mat-icon-button class="uk-link-reset" style="margin-right:1em; color: white">
    More <mat-icon>arrow_drop_down</mat-icon>
  </button -->
  <!-- mat-menu #appMenu="matMenu">

  </mat-menu -->
</header>

<!-- button mat-menu-item *ngFor="let item of secondaryNavigationItems | async" class="uk-active" class="uk-link-reset" style=" text-transform: capitalize">
  {{ item.name }}
</button -->
