.topmenu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-multiple-rows {
  min-height: 48px;
}

.site-logo {

}

.clarity-nav-topbar {
  -height: 48px;
  background-image: linear-gradient(to right, #1c0241 , #2a114f);
  -color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

body {
  padding-top: 5em;
}
.nav-topbar-flatbutton {
  background-color: transparent;
}

.nav-topbar-icon {
  transform: scaleX(-1) rotate(10deg)
}
